body {
    margin: 0;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

#player {
    position: absolute;
    bottom: 110px;
    left: 2vw;
    width: 170px;
    height: 175px;
    background-image: url('/img/Run.png');
    background-size: cover;
}

#obstacle {
    position: absolute;
    bottom: 120px;
    right: 0;
    width: 75px;
    height: 75px;
    background-image: url('/img/stone.png');
    background-size: cover;
}

#score {
    position: absolute;
    top: 25px;
    right: 5vw;
    font-size: 32px;
    color: #000000;
}

#floor{
    position: relative;
    width: 500vw;
    background-size: contain;
    height: 150px;
    bottom: calc(100px-100vh);
    bottom: calc(-100vh + 120px);
    background-image: url('/img/floor.png');
    background-position: center;
} 


@media all and (min-width: 480px) and (max-width: 680px){

    #player {
        left: 5vw;
    }

    #score {
        right: 5vw;
    }
}

@media all and (min-width: 681px) and (max-width: 1200px){
    #player {
        left: 10vw;
    }

    #score {
        right: 8vw;
    }
}

@media all and (min-width: 1201px) and (max-width: 1400px) {
    #player {
        left: 18vw;
    }

    #score {
        right: 60px;
    }
}

@media all and (min-width: 1400px){
        #player {
            left: 26vw;
        }
    
        #score {
            right: 60px;
        }
}
